.sheet {
  &-detail {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
