.btn {
  outline: none;
  padding: 10px 50px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  &-primary {
    background-color: #2979ff;
    &:hover {
      background-color: rgba(41, 121, 255, 0.9);
    }
  }
  &-secondary {
    color: black;
    border: 1px solid var(--border-color);
    &:hover {
      color: rgba(41, 121, 255, 0.7);
      border: 1px solid #2979ff;
    }
  }
  &-third {
    padding: 10px 30px;
    color: var(--primary-color);
    box-shadow: inset 0px 0px 0px 1px var(--primary-color);
    transition: all 0.3s;
    &:hover {
      color: white;
      box-shadow: inset 0px 0px 0px 40px #2979ff;
    }
  }
  transition: 0.25s;
  &:hover {
  }
}
