.card {
  &-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  &-item {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 7px solid var(--primary-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  &-img {
    width: 90px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-info {
    padding: 0 13px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &-title {
      font-size: 14px;
      font-weight: bold;
      color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: rgba(var(--primary-color-var), 0.3);
    }
    &-date {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 110px;
    }
    &-text {
      font-size: 14px;
      font-weight: bold;
      color: var(--gray-dark-text);
    }
  }

  &-desc {
    max-width: 260px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  &-toggle {
    cursor: pointer;
    position: relative;
  }
}
