@media screen and (max-width: 641px) {
  .modal-sheet-item {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    button {
      max-width: 100%;
      width: 100%;
    }
    label {
      font-size: 12px;
    }
  }
  .modal-input-list {
    span.ant-skeleton-input {
      @apply w-full min-w-[90px];
    }
  }
}
