.break {
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: auto;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: var(--border-color);
  }
}
