:root {
  --primary-color-var: 127, 219, 255;
  --primary-color: rgb(var(--primary-color-var));
  --primaryHover-color: #7fdbff4c;
  --gray-light: #b3b2b7;
  --gray-dark-text: #787c88;
  ---bg-color: #fafafa;
  --black70-color: #000000b3;
c-
  --primary-font: "Poppin", sans-serif;

}
