:root {
  --primary-color: #7fdbff;
  --primaryHover-color: #7fdbff4c;
  --secondary-color: #b3b2b7;
  --gray-light: #b3b2b7;
  ---bg-color: #fafafa;
  --black70-color: #000000b3;

  --primary-font: "Poppin", sans-serif;
}
