@mixin textClamp($rows: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $rows; /* number of lines to show */
  line-clamp: $rows;
  -webkit-box-orient: vertical;
}
