.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.ant-collapse-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea.ant-input[disabled] {
  cursor: default;
}
