.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.ant-collapse-header-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea.ant-input[disabled] {
  cursor: default;
}
@media screen and (max-width: 1024px) {
  .ant-tooltip.ant-menu-inline-collapsed-tooltip.ant-tooltip-placement-right {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .btn-container {
    margin: 10px 0;
    flex-direction: column;
    button {
      display: block;
      width: 100%;
    }
  }
}
