:root {
  --primary-color: #35b5e7;
  --primaryHover-color: #7fdbff4c;
  --green: #75ce55;
  --gray-light: #b3b2b7;
  --red: #f62682;
  --primary-font: "Montserrat", sans-serif;
  --border-color: #cfcfcf;
  --overlay: #00000033;
}
