.sheet {
  &-main {
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    height: 0;
    transition: transform 0.33s;
    overflow: hidden;
    transform: translateY(-10px) scale(1.1);
    &.active {
      margin-top: 5px;
      height: 100%;
      transform: none;
    }
    &-content {
      padding: 0 15px 15px 15px;
    }
  }
  &-detail {
    max-width: 1135px;
    width: 100%;
    margin-bottom: 20px;
    &-search {
      padding: 10px 0;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      & select {
        height: 100% !important;
      }
    }
    &-header {
      border-radius: 5px;
      padding: 15px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: rgb(182 212 224 / 15%);
      }
      i {
        cursor: pointer;
        transform: rotate(90deg);
      }
    }
  }
}
.workbook-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
  > div {
    display: flex;
    gap: 10px;
  }
}
//select custom
.label {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--gray-light);
  margin-bottom: 5px;
}
.btn-form-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.workbook-name {
  min-width: 200px;
  padding: 2px 5px;
  text-align: center;
}
.workbook {
  &-top {
    &-header {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &-date {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
.sheet-search-spinner {
  align-self: center;
  & > .spinner {
    border-color: transparent rgb(209 88 21) !important;
  }
}
