.separator {
  position: relative;
  color: #868e96;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 0;
  &::before {
    content: "";
    height: 1px;
    width: 100%;
    top: 50%;
    background-color: var(--border-color);
    position: absolute;
    z-index: -1;
  }
  &-text {
    display: inline-flex;
    max-width: 90%;
    text-transform: uppercase;
    font-size: 0.9375rem;
    color: #303840;
    font-weight: 600;
    letter-spacing: 2px;
  }
}
