.separator {
  position: relative;
  color: #868e96;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 0;
  &::before {
    content: "";
    height: 1px;
    width: 100%;
    top: 50%;
    position: absolute;
    z-index: -1;
  }
}
