.separator {
  color: #868e96;
  display: flex;
  align-items: center;
  justify-content: start;
  & span {
    height: 1px;
    background-color: var(--border-color);
  }
  &-text {
    display: inline-flex;
    max-width: 90%;
    text-transform: uppercase;
    font-size: 0.9375rem;
    color: #303840;
    font-weight: 600;
    letter-spacing: 2px;
  }
}
