:root {
  --primary-color-var: 53, 181, 231; //127, 219, 255;
  --primary-color: rgb(var(--primary-color-var));
  --primaryHover-color: #7fdbff4c;
  --green: #75ce55;
  --gray-light: #b3b2b7;
  --gray-dark-text: #787c88;
  ---bg-color: #fafafa;
  --black70-color: #000000b3;
  --red: #f62682;
  --primary-font: "Montserrat", sans-serif;
  --border-color: #cfcfcf;
  --text-color-input: #cccccc;
  --overlay: #00000033;
}
