.sheet {
  &-wrapper {
    width: 100%;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 35px;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 5px;
  }
  &-name {
    font-size: 12px;
    font-weight: 500;
  }
}
