.sheet {
  &-wrapper {
    width: 100%;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &-item {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    border: 1px solid var(--border-color);
    padding: 20px 10px;
    border-radius: 5px;
  }
  &-name {
    max-width: 60px;
    width: 100%;
  }
  &-name-title {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &-name-text {
    font-size: 14px;
    font-weight: 400;
  }
}
//input
.sheet-input {
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
  }
  &-number {
    font-family: var(--primary-font);
    color: var(--gray-light);
    padding: 5px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    width: 100%;
  }
}
