@import "../../styles/mixin.scss";
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: #00000077;
  transition: 0.2s linear;
  &.disable {
    transform: scale(0);
    visibility: hidden;
  }
  .btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 20px;
  }
}

.modal {
  &-container {
    position: relative;
    background-color: white;
    padding: 22px;
    border-radius: 5px;
    max-width: 750px;
    width: 100%;
    z-index: 9999;
  }
  &-top {
    display: flex;
    gap: 20px;
  }
  &-top-image {
    width: 140px;
    height: 160px;
    border-radius: 5px;
    object-fit: cover;
  }
  &-top-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &-top-title {
    text-transform: uppercase;
    @include bgColorText(var(--green));
    margin-bottom: 10px;
    flex-shrink: 0;
    transition: 0.25s;
    &.error {
      color: var(--red);
    }
    > input {
      text-align: center;
      color: inherit;
      border: none;
      position: relative;
      z-index: 5;
      background-color: transparent;
    }
  }
  &-top-desc {
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 6px;
    font-size: 14px;
    resize: none;
    font-family: var(--primary-font);
    color: var(--gray-dark-text);
    border: 1px solid var(--green);
    flex-grow: 1;
    &.error {
      border-color: var(--red);
    }
  }
}
