.overlay-loading {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    transform: translateY(30px);
  }
  ::after {
    
  }
}
.circle-loading2 {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: loading2 1s infinite;
  div {
    width: 30px;
    height: 30px;
    border: 2px solid #6a5af9;
    border-radius: 50%;
    margin: 0 5px;
  }
}

@keyframes loading2 {
  50% {
    transform: rotate(200deg);
  }

  75% {
    transform: rotate(160deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
