.circle-loading2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: loading2 1s infinite;
  z-index: 9999;
  div {
    width: 30px;
    height: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    margin: 0 5px;
  }
}

@keyframes loading2 {
  50% {
    transform: rotate(200deg);
  }

  75% {
    transform: rotate(160deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
