.navigate {
  &-container {
    padding: 25px 18px;
    max-width: 250px;
    width: 100%;
  }
  &-main {
    width: 100%;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
  }
}
