.navigate {
  &-container {
    padding: 0 18px;
    max-width: 250px;
    width: 100%;
    background-color: white;
  }
  &-logo {
    margin: 30px 0;
  }
  &-main {
    width: 100%;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    font-size: 20px;
  }
}
