.navigate {
  position: sticky;
  top: 0;

  &-container {
    padding: 0 18px;
    max-width: 230px;
    width: 100%;
    background-color: white;
    border: 1px solid var(--gray-light);
    min-height: 100vh;
  }
  &-logo {
    margin: 30px 0;
  }
  &-main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-height: 380px;
    height: 100%;
    padding-bottom: 180px;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    color: var(--gray-light);
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.25s linear;
    cursor: pointer;
    &:hover,
    &.active {
      color: var(--black70-color);
      background-color: var(--primaryHover-color);
    }
    &-icon {
      & > i {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  &-bottom {
    margin-top: 22px;
  }
}
.input-file-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#input-file {
  opacity: 0;
}
