.btn {
  outline: none;
  padding: 10px 50px;
  border: none;
  color: white;
  border-radius: 5px;
  &-primary {
    background-color: #2979ff;
  }
  &-secondary {
    background-color: white;
    border: 1px solid #2979ff;
    color: #2979ff;
  }
}
