:root {
  --border-color: #cfcfcf;
}
.search {
  padding: 12px;
  border: 1px solid var(--border-color);
  color: var(--border-color);
  border-radius: 6px;
  outline: none;
  font-family: var(--primary-font);
  font-size: 14px;
  max-width: 256px;
}
