:root {
  --border-color: #cfcfcf;
  --text-color-input: #cccccc;
}
.search {
  padding: 12px;
  outline: 1px solid var(--border-color);
  color: var(--text-color-input);
  border-radius: 6px;
  font-family: var(--primary-font);
  font-size: 14px;
  max-width: 256px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
  &:focus-within {
    outline: 2px solid var(--primary-color);
    box-shadow: 0 0 0.2rem rgb(0 123 255 / 25%)
  }
  &-input {
    border: none;
    flex-grow: 1;
  }
}
