.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background-color: white;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.toast {
  & > .toast-content {
    display: flex;
    align-items: center;
  }
  & > .message{
    
  }
}
