.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background-color: white;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid var(--green);
}
.toast {
  & > .toast-content {
    display: flex;
    align-items: center;
    & > .check {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 35px;
      background-color: var(--green);
      color: white;
      font-size: 20px;
      border-radius: 50%;
    }
    & > .message {
      display: flex;
      flex-direction: column;
      margin: 0 20px;
      & > .text {
        font-size: 20px;
        font-weight: 600;
        color: var(--te);
      }
    }
  }
}
